@import "tailwindcss";

/* Los estilos personalizados van después de @import */
body {
  background-color: #f3f4f6;
}

#root {
  min-height: 100vh;
  width: 100%;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}